recursive-exclude ThreatExchange *
recursive-include ThreatExchange/pdq *.cpp *.h
include ThreatExchange/pdq/LICENSE.txt
recursive-include pdqhash *.py *pyx
recursive-exclude pdqhash *.so *.dll *.cpp *.c